body {
    width: 600px;
    margin: 0 auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #00376c;
}

a {
    color: #00376c;
    text-decoration: none;
}

h3 {
    color: #1577ff;
    border-bottom: 2px solid #1577ff;
    display: inline;
}

.services p {
    font-style: italic;
}

a:hover {
    text-decoration: underline;
}

h2 {
    border-bottom: 2px solid #7b7b7b;
    text-align: center;
}

header {
    border-bottom: 6px solid #7b7b7b;
    line-height: 80px;
    text-align: center;
    background-color: #c7e3ff;
    margin-bottom: 40px;
}

footer {
    text-align: center;
     background-color: #c7e3ff;
     margin-bottom: 40px;
     padding: 10px;
}

.story, .services,.locations{
    padding: 10px 15px 10px;
    margin-bottom: 40px;
    background-color: #e7e7e7;
}

img {
    width: 150px;
}
